body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* Corrected margin value */
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Fix the height to prevent scrolling */
    overflow: hidden; /* Prevent scrolling */
}

h1 {
    margin-top: 20px;
    font-size: 48px;
    color: #333;
    text-align: center;
    width: 100%;
}

.header-image {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 150px;  /* Adjust the size as needed */
    height: auto;
}

.container {
    display: flex;
    flex: 1;
    width: 100%; /* Ensure the container takes the full width */
    height: 100%; /* Ensure the container takes the full height of the body */
}

#map {
    flex: 1;
    margin: 20px;
    border: 3px solid #ccc;  /* Add a border for better visibility */
    position: relative; /* Ensure the loading message is positioned relative to the map */
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;  /* Adjust height to match the map */
    width: 300px; /* Adjust the width as needed */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000; /* Ensure the controls are on top of the map */
}

#automated-controls {
    margin-right: 20px;  /* Add margin to the right of the first controls div */
}

.controls h2 {
    margin-top: 0;
    text-align: center;  /* Center the h2 text */
}

.controls button, .controls select, .controls label {
    margin: 5px 0;
}

label {
    font-size: 14px;
    color: #555;
}

input[type="file"] {
    display: none;
}

button {
    background-color: #134813;  /* Purple background */
    color: white;  /* White text */
    border: none;  /* Remove border */
    padding: 10px 20px;  /* Padding */
    font-size: 16px;  /* Font size */
    border-radius: 5px;  /* Rounded corners */
    cursor: pointer;  /* Pointer cursor on hover */
    margin-top: 10px;  /* Add margin between buttons */
}

button:hover {
    background-color: #134813;  /* Darker purple on hover */
}

.tab {
    padding: 30px 40px; /* Increase padding for larger tabs */
    margin: 10px;
    background-color: #134813;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.8em; /* Increase font size */
    transition: background-color 0.3s, transform 0.3s;
    flex: 1 1 calc(33.333% - 40px); /* Adjust the width of the tabs */
    box-sizing: border-box;
}

.tab:hover {
    background-color: #134813;
    transform: scale(1.05);
}

.tab:active {
    background-color: #134813;
}

.loading-message {
    display: none; /* Hidden by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 2000; /* Ensure the loading message is above other elements */
    font-size: 1.5em;
}