body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.general-title {
    font-size: 3em;
    margin-bottom: 40px;
    color: #333;
}

.flip {
    display: inline-block;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip:hover {
    transform: rotateY(360deg);
}

.container {
    max-width: 1400px; /* Increase the maximum width */
    min-height: 800px; /* Set a minimum height */
    padding: 60px; /* Increase padding for more space inside the container */
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative; /* Add position relative to contain absolutely positioned elements */
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.container:hover {
    transform: scale(1.08); /* Scale the container to 105% on hover */
}

.banner {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; /* Increase margin to add more space below the banner */
}

.banner-img {
    max-width: 200px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.banner-img:hover {
    transform: scale(1.2); /* Scale the image to 120% on hover */
}

.centered-img:hover {
    transform: scale(1.2); /* Scale the image to 120% on hover */
}

.centered-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.centered-img {
    max-width: 20%;
    height: auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
}

/* Carousel styles */
.carousel-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px; /* Adjust the height as needed to fit multiple items */
    display: flex;
    flex-direction: column; /* Ensure the items are arranged vertically */
}

.tabs {
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px; /* Adjust the height as needed to fit multiple buttons */
    display: flex;
    flex-direction: column; /* Ensure the items are arranged vertically */
}

.tabs::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.scroll-area {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px; /* Adjust the width as needed */
    z-index: 1;
}

.scroll-area.left {
    left: 0;
}

.scroll-area.right {
    right: 0;
}

.tab {
    padding: 20px 30px; /* Adjust padding for larger tabs */
    margin: 10px;
    background-color: #134813;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em; /* Adjust font size */
    font-weight: bold; /* Add bold font */
    transition: background-color 0.3s, transform 0.3s;
    flex: 0 0 auto; /* Ensure tabs do not shrink */
    box-sizing: border-box;
    
}

.tab:hover {
    background-color: #1a5e1a; /* Lighter color for hover state */
    transform: scale(1.10);
}

.tab:active {
    background-color: #1f7a1f; /* Lighter color for active state */
}
.bottom-left-container {
    position: absolute;
    bottom: 10px; /* Add some distance from the bottom border */
    left: 10px; /* Add some distance from the left border */
    padding: 10px; /* Optional: Add some padding around the image */
}

.bottom-left-img {
    width: 200px; /* Increase the width */
    height: auto;
}

.bottom-right-container {
    position: absolute;
    bottom: 5px; /* Add some distance from the bottom border */
    right: 10px; /* Add some distance from the right border */
    padding: 10px; /* Optional: Add some padding around the image */
}

.bottom-right-img {
    width: 200px; /* Increase the width */
    height: auto;
}

/* Additional styles for Swiper */
.swiper-container {
    width: 50%;
    height: 50vh; /* Make the swiper container fit the viewport height */
    box-sizing: border-box;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    height: 50%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: auto; /* Ensure slides do not stretch */
    height: auto; /* Ensure slides do not stretch */
}

.swiper-slide-active {
    transform: scale(1.2);
}