.hidden {
    display: none;
}
#layers-list {
    display: none;
}
.custom-dot-icon {
    cursor: crosshair;
}
.container {
    display: flex;
    height: 100%;
}
.map-column {
    width: 50%;
    height: 100%;
}
.map {
    height: 100%;
}
.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.controls-chart-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.controls-container {
    flex: 1;
    overflow-y: auto;
}
.chart-container {
    flex: 1;
}