<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro</title>
    <link rel="stylesheet" href="/static/css/styleintro.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
    <div class="general-title"><em class="flip">pyFlyAnalyzer</em></div>
    <div class="container">
        <h1>Welcome to the Analysis Portal of Aerial Data</h1>
        <div class="banner">
            <img src="static/img/drone2.png" alt="Harvester" class="banner-img">
            <img src="static/img/logo.png" alt="Logo" class="banner-img">
            <img src="static/img/harvester2.jpg" alt="Harvester" class="banner-img">
        </div>
        
        <div class="bottom-left-container">
            <img src="static/img/cabbi.jpg" alt="New Image" class="bottom-left-img">
        </div>

        <div class="bottom-right-container">
            <img src="static/img/logo1.png" alt="New Image" class="bottom-right-img">
        </div>

        <div class="carousel-container">
            <div class="tabs">
            
                <a href="metashape.html" class="tab">Flight Stitcher</a><x></x>

                <a href="reprojecttif.html" class="tab">Reproject</a>

                <a href="norm_stack.html" class="tab">Normalize and stack</a>

                <a href="shiftcorrector.html" class="tab">Shift corrector</a>
                    
                <a href="polycreator.html" class="tab">Field Trial Builder</a>

                <a href="plotvisualizer.html" class="tab">Field Trial Visualization</a>

                <a href="insights.html" class="tab">Traits Prediction (ML)</a>
            </div>
        </div>
    </div>
    <script src="/static/js/carousel.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>