<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro</title>
    <link rel="stylesheet" href="/static/css/styleintro.css">
</head>
<body>
    <div class="general-title"><em class="flip">pyFlyAnalyzer</em></div>
    <div class="container">
        <div class="banner">
            <img src="static/img/drone2.png" alt="Harvester" class="banner-img">
            <img src="static/img/logo.png" alt="Logo" class="banner-img">
            <img src="static/img/harvester2.jpg" alt="Harvester" class="banner-img">
        </div>
        
        <h1>Welcome to the Analysis Portal of Aerial Data in Bioenergy Crops</h1>
        <div class="top-right-container">
            <img src="static/img/cabbi.jpg" alt="New Image" class="top-right-img">
        </div>

        <div class="bottom-right-container">
            <img src="static/img/logo1.png" alt="New Image" class="bottom-right-img">
        </div>

        <div class="tabs">
            <a href="processodm.html" class="tab">Raw to ORTHO with PyODM</a>
            <a href="reprojecttif.html" class="tab">Reproject ORTHO</a>
            <a href="preprocessing1.html" class="tab">Terrain normalization & image stacking</a>
            <a href="shiftcorrector.html" class="tab">XYZ Corrector</a>
            <a href="polygon_creator.html" class="tab">Field-trial builder</a>
            <a href="tabular_stats.html" class="tab">Plot stats & export data</a>
            <a href="mapvisualization.html" class="tab">Plot visualization & temporal dynamics</a>
            <a href="insights.html" class="tab">Data insights: Machine Learning </a>
        </div>
    </div>
</body>
</html>