<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spatial Data Visualization</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/georaster"></script>
    <script src="https://unpkg.com/georaster-layer-for-leaflet"></script>
</head>
<body>
    <h1>Interactive Spatial Data Viewer</h1>
    <div id="map">
        <div class="controls">
            <input type="file" id="file-input" accept=".shp,.shx,.dbf,.prj,.tif" multiple>
            <button id="upload-button" class="tab">Upload Files</button>
            <button id="zoom-button" class="tab">Zoom to Layers</button>
        </div>
        <div id="loading-message" class="loading-message">Loading in progress...</div>
    </div>

    <script>
        var map = L.map('map').setView([0, 0], 2);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 40,
        }).addTo(map);

        var layers = {};
        var pngLayers = {};
        var layerControl = L.control.layers(null, null, { position: 'topright', collapsed: false }).addTo(map);

        document.getElementById('upload-button').addEventListener('click', function() {
            document.getElementById('file-input').click();
        });

        document.getElementById('file-input').addEventListener('change', function(event) {
            var files = event.target.files;
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData.append('file', files[i]);
            }

            // Show loading message
            document.getElementById('loading-message').style.display = 'block';

            fetch('http://127.0.0.1:5000/api/map_visualization', {  // Ensure the URL is correct
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert('Error processing files: ' + data.error);
                } else {
                    // Handle GeoJSON data
                    Object.keys(data.geojson_data).forEach(layerName => {
                        if (layers[layerName]) {
                            map.removeLayer(layers[layerName]);
                            layerControl.removeLayer(layers[layerName]);
                        }
                        layers[layerName] = L.geoJSON(data.geojson_data[layerName], {
                            onEachFeature: function (feature, layer) {
                                var popupContent = "<table>";
                                for (var key in feature.properties) {
                                    popupContent += "<tr><th>" + key + "</th><td>" + feature.properties[key] + "</td></tr>";
                                }
                                popupContent += "</table>";
                                layer.bindPopup(popupContent);

                                // Show popup on hover
                                layer.on('mouseover', function (e) {
                                    this.openPopup();
                                });

                                // Hide popup when not hovering
                                layer.on('mouseout', function (e) {
                                    this.closePopup();
                                });
                            }
                        });
                        layerControl.addOverlay(layers[layerName], "SHP: " + layerName);
                        layers[layerName].addTo(map);
                    });

                    // Handle PNG files
                    data.png_files.forEach(pngFile => {
                        var imageUrl = 'http://127.0.0.1:5000/' + pngFile.path;
                        var imageBounds = pngFile.bounds;
                        var pngLayer = L.imageOverlay(imageUrl, imageBounds, {
                            opacity: 1,
                            interactive: true,
                            errorOverlayUrl: '',
                            zIndex: 1,
                            className: '',
                            pane: 'overlayPane',
                            attribution: null,
                            crossOrigin: false,
                            alt: '',
                            onError: null,
                            onLoad: function() {
                                var img = this.getElement();
                                img.style.opacity = 1;
                                img.onload = function() {
                                    var canvas = document.createElement('canvas');
                                    var context = canvas.getContext('2d');
                                    canvas.width = img.width;
                                    canvas.height = img.height;
                                    context.drawImage(img, 0, 0, img.width, img.height);
                                    var imageData = context.getImageData(0, 0, img.width, img.height);
                                    var data = imageData.data;
                                    for (var i = 0; i < data.length; i += 4) {
                                        if (data[i] === 0 && data[i + 1] === 0 && data[i + 2] === 0) {
                                            data[i + 3] = 0;  // Set alpha to 0
                                        }
                                    }
                                    context.putImageData(imageData, 0, 0);
                                    img.src = canvas.toDataURL();
                                };
                            }
                        });
                        pngLayers[pngFile.path] = pngLayer;
                        layerControl.addOverlay(pngLayer, "TIFF: " + pngFile.path);
                        pngLayer.addTo(map);
                    });

                    // Fit the map to the bounds of all layers
                    var allLayers = L.featureGroup(Object.values(layers).concat(Object.values(pngLayers)));
                    if (allLayers.getLayers().length > 0) {
                        map.fitBounds(allLayers.getBounds());
                    }
                }
            })
            .catch(error => {
                console.error('Error uploading files:', error);
                alert('Error uploading files: ' + error.message);
            })
            .finally(() => {
                // Hide loading message
                document.getElementById('loading-message').style.display = 'none';
            });
        });

        document.getElementById('zoom-button').addEventListener('click', function() {
            var allLayers = L.featureGroup(Object.values(layers).concat(Object.values(pngLayers)));
            if (allLayers.getLayers().length > 0) {
                map.fitBounds(allLayers.getBounds());
            } else {
                alert('No layers loaded.');
            }
        });
    </script>
</body>
</html>