
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="static/css/stylemetashape.css">
     <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
     <title>Metashape Processing</title>
 </head>
 <body>
 
 <div class="container">
     <div class="content-container">
         <h1 class="centered-title">Processing raw images to stitched layers</h1>
         <div>
             <button id="selectInputDirBtn">Select Input Directory</button>
         </div>
         <div>
             <label for="outputDir">Output Directory:</label>
             <input type="text" id="outputDir" placeholder="Enter output directory">
         </div>
         <div class="button-container">
             <div class="dropdown">
                 <button id="outputTypesBtn">Select Outputs</button>
                 <div class="dropdown-content">
                     <label><input type="checkbox" id="orthomosaic" name="outputType" value="orthomosaic"> Orthomosaic</label>
                     <label><input type="checkbox" id="dem" name="outputType" value="dem"> DEM</label>
                     <label><input type="checkbox" id="report" name="outputType" value="report"> Report</label>
                 </div>
             </div>
             <button id="submitBtn">Submit</button>
         </div>
     </div>
     <div class="logo-container">
         <img src="static/img/logo.png" alt="Logo" class="banner-img flip">
     </div>
 </div>
 
 <div class="content">
     <div id="console-container">
         <div id="console" class="console"></div>
     </div>
 
     <div id="map-container">
         <div id="map"></div>
     </div>
 </div>
 
 <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
 <script src="static/js/metashape.js"></script>
 </body>
 </html>