


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plot Trial Analyzer</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />  
    <link rel="stylesheet" href="/static/css/styleplot.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-measure/dist/leaflet-measure.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>  
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet-measure/dist/leaflet-measure.js"></script>
    <script src="https://unpkg.com/@turf/turf/turf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.0"></script>
    
</head>
<body>
    <div class="header">
        <h1>Plot Trial Analyzer</h1>
    </div>
    <div class="container">
        <div class="left-column">
            <h2>Visualizer</h2>
            <div id="map1" class="map">
                <div id="loading-message1" class="loading-message">Loading files...</div>
            </div>
        </div>

        <div class="center-column">
            <div class="charts-container">
                <div class="chart-container">

                    <h2> Plot Level Analysis</h2>  
                    <canvas id="resultChart"></canvas>
                </div>
                <div class="chart-container">
                    <h2> Whole Field Trial Analysis</h>  
                    <canvas id="histogramChart"></canvas>
                </div>
            </div>
        </div>

        <div class="right-column" id="automated-controls">
            <h2>Analysis controller</h2>
            <input type="file" id="folder-input" webkitdirectory directory multiple style="display: none;">
            <button id="upload-button" class="tab">Set Input Folder</button>
            <label for="ortho-select">Indicate Active Field Trial Image:</label>
            <select id="ortho-select" class="tab"></select>
            <label for="shp-select">Indicate Active Field Trial Polygons:</label>
            <select id="shp-select" class="tab"></select>
            <button onclick="resetSelectedPolygons()" class="tab">Reset Plots Selection</button>
            <button id="send-selected-polygons" class="tab">Analyze Selected Plots</button>
            <label for="y-variable-select">Select Variable for Charts: </label>
            <select id="y-variable-select" class="tab">
                <option value="Band_6_max">Canopy Height</option>
                <option value="NDVI_max">NDVI</option>
                <option value="NDRE_max">NDRE</option>
                <option value="fcover">Fractional green cover</option>
            </select>

            <div id="layers-panel">
                <h3 class="hidden">Loaded PNGs</h3>
                <ul id="layers-list"></ul>
            </div>
            <div id="selected-plots"></div>
        </div>
    </div>
    <script src="/static/js/plotvisualizer.js"></script>
</body>
</html>